[Unit]
Description     = Auto git-pull by GitHub WebHook
Wants           = network-online.target
After           = network-online.target

[Service]
Type            = simple
Restart         = on-failure
PIDFile         = /run/ghpull/ghpull.pid

TimeoutStopSec = 5

User  = ghpull
Group = ghpull

PermissionsStartOnly = true
ExecStartPre =-/usr/bin/install -d -m 0755 -o nobody -g nobody /run/ghpull/
ExecStart    = /usr/local/bin/ghpull -unix "/run/ghpull/ryuar.in.sock" -dir "/srv/http/ryuar.in/_default" -secret "1234567890"

StandardOutput = null
